:root{
    --main: #fff;
    --secondary: #c50000;
    --secondaryborder: #ffd993;
    --titleh2: black;
    --card:#fff;
    --header:#ffd993;
    --header-text:#c50000;
    --connection: #c50000;
    --connection2: #ffd993;

}