@import url("color.css");

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #cccccc;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #f9f9f9;
}

a {
    color: #3366cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



.btn-retour {
    border-radius: 20px;
    background-color: #5311ed;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    margin-top: 30px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

/*.btn-retour:hover {
    background-color: #235daa;
  }

  td a:nth-child(2) {
    margin-left: 10px;
  }*/