@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url("color.css");

/* Styles généraux */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--main);
}

body{
  line-height: initial !important;
}


header {
  background-color: var(--header);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.h1 {
  display: flex;
  position: relative;
}

.row{
  width: 100%;
}

.account {
  position: absolute;
  right: 0;
  color: var(--main);
}

.accountsvg {

  transition: border-color 0.2s ease-in-out;
  border: 1px solid transparent;
  border-radius: 100%;
  padding: 5px;
}

.accountsvg:hover {
  transition: border-color 0.2s ease-in-out;
  border-color: var(--main);

}


header h1 {
  color: var(--titleh2);
}

.menu {
  display: flex;
  list-style: none;
}

.flexcard {
  display: flex;
  list-style: none;
}

nav .menu li:not(:last-child) {
  margin-right: 3%;
}

.menu li a {
  color: var(--header-text);
  text-decoration: none;
}

main {
  padding: 2rem;
}

h2 {
  color: var(--titleh2);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.chevron {
  color: var(--titleh2);
}

.navbar li:hover {
  text-decoration: underline;
  transition: all 0.3s ease;
  text-underline-offset: 6px;
  color: var(--main);
}

.selected {
  z-index: 1;
  text-decoration: underline !important;
  text-underline-offset: 6px;
  color: var(--main);

}

/*Catégorie sub-menu*/
.sub-menu {
  margin-top: 10px;
  background-color: transparent;
  border-radius: 10px;
}

.hidden {
  display: none;
}

.sub-menu-container {
  z-index: 1;
}


.sub-menu-item:hover {
  transition: ease-in-out 0.5s;
}


/* Style pour la barre de recherche */
.search-bar {
  float: right;
  margin-top: 30px;
  margin-right: 20px;
}

.search-bar input[type="text"] {
  width: 200px;
  padding: 5px;
  border-radius: 20px;
}

.search-bar button {
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #360ed4;
  background-color: #5311ed;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  /* padding: 12px 45px;*/
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}


/* Style pour les articles de la page tout parcourir */

/* Style  d'animation pour  les articles */

.card {
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.3);
  transition: box-shadow 0.3s ease;
}

.imgArticle {
  transition: transform 0.3s ease;
}

.imgArticle:hover {
  transform: scale(1.1);
}

/* ***************** */

.tri {
  color: var(--titleh2);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background-color: var(--card);
  width: 80%;
  height: 555px;
  margin-bottom: 20px;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.imgArticle {
  height: 350px;
}

.card .imgArticle,
.card .taille {
  width: 100%;
  max-height: 350px;

}

.imgArticle img {
  background-color: var(--titleh2);
}

.card-body {
  padding: 10px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 14px;
  margin-bottom: 10px;
}

.price {
  color: var(--titleh2);
  font-size: 16px;
  font-weight: bold;
}

.btn {
  font-size: 14px;
}

.col-md-6 {

  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
}


.imgAboutUs img {
  background-color: var(--titleh2);
}

.tailleAboutUS {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Remplissez le cercle avec l'image */
  height: 100%; /* Remplissez le cercle avec l'image */
  object-fit: cover; /* Ajustez le comportement de l'image pour remplir le cercle */
}


.circle {
  position: relative;
  width: 100%; /* Ajustez la taille selon vos besoins */
  margin-top: 15%;
  padding-bottom: 100%; /* Utilisez une valeur égale à la largeur pour obtenir un cercle parfait */
  overflow: hidden;
  border-radius: 50%;
  border: var(--titleh2) 1px solid;
}


.col-md-25 {

  display: inline-block;
  vertical-align: top;
  width: 24%;
  box-sizing: border-box;
}

.dateArticle {
  color: #878787d9;
}

.linkedin{
  position: absolute;
  bottom: 0;
}

.btnArticle {
  padding: 10px;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  border: 1px solid var(--secondary);
  color: var(--secondary);
}

.btnArticle2 {
  padding: 10px;
  background-color: transparent;
  border: none;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  border-radius: 20px;
  border: 1px solid var(--secondary);
}

.btnDeco {
  padding: 10px;
  margin-left: 10px;
  background-color: var(--header);
  border: none;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  position: absolute;
  border-radius: 20px;
  border: 1px solid var(--secondary);
  transition: 0.6s ease;
}

.btnDeco:hover {
  transition: 0.6s ease;
  background-color: var(--header-text);
}

.btnDeco:hover a {

  transition: 0.6s ease;
  color: var(--header) !important;
}

.btnArticle:hover {
  transition: 0.6s ease;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--card);
}

.btnDeco a,
.btnArticle a {

  color: var(--header-text) !important;
}

.buttonMsg2 {
  margin-right: 100px;
  right: 0;
  color: var(--secondary);
}

.btnArticle2:hover {
  transition: 0.6s ease;
  border: 1px solid var(--secondaryborder);
  background-color: var(--secondary);
  color: var(--card);
}


.buttonMsg {
  margin-right: 10px;
  right: 0;
}



.btnArticle:hover {
  transition: 0.6s ease;
  border: 1px solid var(--secondary);
  background-color: var(--secondary);
  color: var(--card);
}



/* style pour la page moncompte*/

.UserCard {
  display: flex;
  background-color: #F2F2F2;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  font-family: Arial, sans-serif;
  color: #333333;
  align-self: center;
}

.UserCard div{
  margin-left: 1%;
}
.UserCard div:first-child{
  margin-left: 0;
}

.username {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: var(--header-text);
}

.statusUser {
  font-size: 14px;
}

.styled-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3463ef;
  color: #ffffff;
  font-family: Arial, sans-serif;
  font-size: 16px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.styled-button:hover {
  background-color: #CC0033;
}




/* Style pour le footer */

.footer-container {
  display: flex;
  justify-content: center;
}

.name-group {
  display: flex;
}

.name-group a {
  margin-right: 10px;
  color: var(--header-text);
}

footer {
  text-align: center;
  background-color: var(--header) !important;
  /* Couleur bleue pour le footer */
  color: var(--header-text);
  /* Couleur blanche pour le texte du footer */

}

.photo-container {
  text-align: center;
  margin-top: 5px;
}

.footer-photo {
  width: 150px;
}

.case {
  width: 300px;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.pending {
  color: var(--titleh2);
  margin-left: 10px;
}

.filtrer {
  color: var(--titleh2);
}



/* style pour les articles */



/* Styles pour la fenêtre modale */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close2 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Styles spécifiques au formulaire de signalement */
.reasons-container {
  margin-bottom: 20px;
}

.reasons-container label {
  display: block;
  margin-bottom: 10px;
}

.submit-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

a.sup {
  color: var(--secondary) !important;
}

a.sup:hover {
  color: var(--card) !important;
}

.rowL {
  display: flex;
}